/* 메인 컨테이너 */
.main-container {
  text-align: center;
  width: 100%;
}

.main-logo {
  margin-top: 3%;
  height: auto;
}

/* 헤더 섹션 */
.main-header {
  margin-top: 40px;
}

/* 검색 바 */
.main-search-bar {
  width: 40rem;
  padding: 12px;
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 1rem;
  text-align: center;
}

/* 버튼 섹션 */
.main-button-section-top {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 30px 0;
  flex-wrap: wrap;
}

.main-button-section-bottom {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 30px 0;
  flex-wrap: wrap;
  font-family: "강원교육모두 Bold";
}

.main-button-top {
  padding: 15px 20px;
  border-radius: 1.25rem;
  border: 3px solid rgba(135, 205, 108, 0.6);
  background: #f1fad3;
  cursor: pointer;
  font-weight: bold;
  width: 12rem;
  height: 7.8125rem;
  flex-shrink: 0;
  text-align: center;
  transition: background 0.3s;
}

.main-button-bottom {
  padding: 15px 20px;
  border-radius: 1.25rem;
  border: 3px solid rgba(135, 205, 108, 0.6);
  background: #f1fad3;
  cursor: pointer;
  font-weight: bold;
  width: 20rem;
  height: 7.8125rem;
  flex-shrink: 0;
  text-align: center;
  transition: background 0.3s;
}

.main-button:hover {
  background-color: #d4e9b2;
}

.main-button-text {
  color: #412a0b;
  text-align: left;
  font-family: GangwonEduAll;
  font-size: 1.7rem;
  margin: 8px;
}

.main-png-top {
  width: 30%;
  height: auto;
  margin-left: 70%;
  margin-top: 10%;
}

.main-png-bottom {
  width: 25%;
  height: auto;
  margin-left: 70%;
}
