body {
  background-color: #FBF9F2;
  margin: 0;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.intro-logo {
  width: 700px; 
  height: auto;
  animation: shrinkAndFade 3s ease forwards;
}

@keyframes shrinkAndFade {
  0% {
    transform: scale(1.8) translate(0, 0);
    opacity: 0.7;
  }
  /* 50% {
    transform: scale(0.7);
    opacity: 0.8;
  } */
  100% {
    transform: scale(0.7) translate(-10px, -170px);
    opacity: 1;
  }
}

:root {
  background-color: #FBF9F2;
}

@font-face {
  font-family: 'KOROAD_Bold';
  src: url('/fonts/KOROAD_Bold.ttf');
}

@font-face {
  font-family: 'KOROAD';
  src: url('/fonts/KOROAD_Medium.ttf');
}

@font-face {
  font-family: 'KOROAD_Light';
  src: url('/fonts/KOROAD_Light.ttf');
}

@font-face {
  font-family: 'GangwonEduAll';
  src: url('/fonts/강원교육모두 Bold.ttf');
}

@font-face {
  font-family: 'GangwonEduAll';
  src: url('/fonts/강원교육모두 Light.ttf');
}