:root {
  background-color: #FBF9F2;
}

@font-face {
  font-family: 'KOROAD_Bold';
  src: url('/fonts/KOROAD_Bold.ttf');
}

@font-face {
  font-family: 'KOROAD';
  src: url('/fonts/KOROAD_Medium.ttf');
}

@font-face {
  font-family: 'KOROAD_Light';
  src: url('/fonts/KOROAD_Light.ttf');
}

@font-face {
  font-family: 'GangwonEduBold';
  src: url('/fonts/GangwonEduAllBold.woff') format('woff'),
        url('/fonts/GangwonEduAllBold.woff2') format('woff2');
}
/* @font-face {
  font-family: 'GangwonEduAll';
  src: url('/fonts/강원교육모두 Light.ttf');
} */