.main-listing-subtitle {
  font-size: 16px;
  margin-top: 8px;
  color: #333;
  line-height: 1.6;
}

.main-listing-section {
  /* max-width: 1200px; */
  position: relative;
  margin: 0 auto;
  padding: 5px 250px;
  font-family: sans-serif;
  background-color: #ffffff; /* 원하는 배경색으로 변경 가능 */
  font-family: KOROAD_Bold;
}

.main-listing-section h1 {
  text-align: left;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.main-listing-section > p {
  text-align: left;
  font-size: 20px;
  margin-bottom: 30px;
  color: #666;
}
.listing-container-wrapper {
  position: relative;
}

/* ul 기본 스타일 제거 */
.main-listing-container {
  display: flex;
  overflow-x: auto;
  gap: 16px; /* 카드 간 간격 */
  padding: 16px;
  scroll-snap-type: x mandatory; /* 스크롤 스냅 효과 (선택 사항) */
  list-style: none; /* 기본 ul 스타일 제거 */
  margin: 0;
  background-color: #f9f2f2;
}

.main-listing-container li {
  flex: 0 0 auto; /* 항목들이 자동으로 크기가 조정되지 않고 고정됨 */
  scroll-snap-align: start; /* 스크롤 스냅 위치 지정 (선택 사항) */
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

.scroll-button.left {
  left: -50px; /* 원하는 만큼 음수로 */
}

.scroll-button.right {
  right: -50px; /* 원하는 만큼 음수로 */
}
.main-listing-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* 로그인 안된 경우 오버레이 */
.login-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  z-index: 20;
  text-align: center;
  padding: 20px;
}

.no-listing-message {
  /* ListingCard들과 동일한 높이를 맞추고 싶다면 min-height 등을 적절히 조절 */
  min-height: 200px; /* 임의 예시 */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  /* 필요하다면 border나 background-color도 줄 수 있음 */
}

.user-tag {
  color: #2f833d;
  font-weight: 600;
}

.highlight-ai {
  color: #2f833d;
  font-weight: 1000;
}

.zeepai-main {
  width: 50px;
  margin-right: 10px;
}
