@import url("../region/RegionCompare.css"); /* 스타일 재활용 */

.region-compare-container {
  background-color: #e3eafc;
}

.selected-region {
  background-color: #cce9cc;
  font-weight: bold;
}

.summary-box {
  font-family: KOROAD;
}

.property-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.property-item:hover {
  background-color: #f5f5f5;
}

.property-image img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 12px;
}

.property-details {
  flex-grow: 1;
}

.property-address {
  font-size: 16px;
  font-weight: bold;
}

.property-price {
  font-size: 14px;
  color: #777;
  margin-top: 4px;
}

.property-selection {
  font-size: 20px;
  margin-left: 12px;
}

.liked-region-box-estate {
  background-color: white;
  border-radius: 1rem;
  /* padding: 1rem 0 1rem 3rem; */
  width: 80%;
  /* height: 50vh; */
  height: 515px;
  /* max-height: 50vh; */
  overflow: hidden;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* align-items: center; */
}

.liked-list-area-estate {
  overflow-y: auto;
  flex: 1; /* 나머지 공간을 전부 차지 */
  padding-right: 6px;
  width: 80%;
  /* margin-left: 1.5rem; */
}

.liked-list-area-estate ul {
  padding-left: 1.5rem;
}

.liked-region-box-estate h3 {
  margin-left: 1.5rem;
}