.mypage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdfcf7;
    height: 100vh;
    
  }
  .mypage-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 900px;
    font-family: KOROAD_Bold;
  }

  .mypage-card {
    margin-top: 15vh;
    background: white;
    padding: 2rem;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.05);
    text-align: center;
    width: 95%;
    height: 300px;
    max-width: 600px;
    /* margin-bottom: 0.2rem; */
    font-size: 18px;
  }
  
  /* 새로 추가 */
  .mypage-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  .mypage-profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: url('../../assets/images/zeep.png') center/cover no-repeat;
    margin-right: 30px;
  }
  
  .mypage-buttons {
    margin-top: 13vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    max-width: 600px;
    /* padding: 20px; */
    align-items: center;
    
  }
  
  .mypage-buttons button {
    background: #f1fad3;
    border: 2px #87cd6c;
    border-radius: 15px;
    padding: 1rem;
    width: 80%;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    height: 160px;
  }
  
  .mypage-footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 600px;
    margin-top: 1rem;
  }
  
  .logout-btn,
  .withdraw-btn {
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: none;
    background: #f4e4b2;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
    margin: 0 0.6rem;
  }
  