/* 전체 페이지 */
.map-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  /* 네비게이션 아래 컨텐츠 */
  .map-content {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  
  /* 왼쪽 매물 리스트 */
  .room-list {
    width: 41.5%;
    max-width: 440px;
    height: 100%;
    background-color: #f8f8f8;
    /* padding: 20px; */
    overflow-y: auto;
    border-right: 1px solid #ddd;
  }
  
  /* 오른쪽 지도 */
  .map-container {
    flex: 1;
    height: 100%;
  }
  

  .ai-slide-button {
    position: fixed;
    bottom: 5%;
    right: 2%;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bold;
    z-index: 2;
  }