  .compare-page {
    padding-top: 5vh;
    width: 80vw;
    margin: 0 auto;
  }

  /* 탭 + 컨테이너 세트 */
  .compare-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* 탭 버튼 */
  .compare-tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 0; /* 여백 없애기 */
  }

  .compare-tabs button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 8px 8px 0 0; /* 상단 둥글게, 하단은 네모 */
  }

  .compare-tabs button.active {
    background-color: #cce9cc;
    font-weight: bold;
  }
